.page-title-section{
  position: relative;
  color: var(--neutral-0);
  overflow: hidden;
}
.page-title-section::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(135,85,184,0.94), rgba(117,69,164,0.94)), url("../../assets/images/page-title.png") center/cover no-repeat;
}

.page-title-section > .container{ position: relative; z-index: 1; }

.page-title{ letter-spacing: .3px }

@media (min-width: 992px){
  .page-title-section .page-title{ font-size: 2rem }
}
