.radio-group {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.radio-group-label {
	font-size: 20px;
	font-weight: 500;
	color: #181D18;
}

.radio-group-label .required {
	color: var(--red-500);
	margin-left: 4px;
}

.radio-options {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.radio-option {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	user-select: none;
}

.radio-input {
	width: 18px;
	height: 18px;
	cursor: pointer;
	accent-color: var(--purple-500);
	flex-shrink: 0;
	margin: 0;
}

.radio-text {
	font-size: 16px;
    font-weight: 400;
	color: var(--neutral-700);
	line-height: 1.5;
}

.radio-option:hover .radio-text {
	color: var(--neutral-950);
}
