.form-template-page {
    background: #f7f5fa;
}

.form-actions .btn {
  width: 100%;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
}
.upload-field-description {
    font-size: 14px;
    color: var(--neutral-700);
    font-weight: 400;
}